<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="/css/styleLogin.css">
	<title>Login</title>

</head>

<body>

	<div class="painel">
		<div class="screen">
			<div class="presentation-content">
				<h1 class="text-center my-3 mb-3">Registrar Usuário</h1>
				<form class="d-flex flex-column align-items-center needs-validation"
					th:action="@{/gerenciamento/criarUsuario}" method="post" id="formLogin" novalidate>
					<div class="col-md-10">
						<div class="mb-3">
							<label for="validationServerEmail" class="form-label"><b>Email:</b><abbr class="text-danger"
									title="Email obrigatório">*</abbr></label>
							<input type="email" id="validationServerEmail" class="form-control" name="email" required>
							<div class="invalid-feedback">Email Obrigatório.</div>
						</div>
					</div>

					<div class="col-md-10">
						<div class="mb-3">
							<label for="validationServerSenha" class="form-label"><b>Senha:</b><abbr class="text-danger"
									title="Senha obrigatória">*</abbr></label>
							<input type="password" class="form-control" id="validationServerSenha" name="senha"
								aria-describedby="passwordHelpBlock" required>
							<div id="passwordHelpBlock" class="invalid-feedback">
								Digite sua senha.
							</div>
						</div>
					</div>

					<div class="col-md-10">
						<label for="validationServerUsuarioTipo" class="form-label"><b>Tipo de Usuário:</b></label>
						<div class="col-md-4">
							<select class="form-select" id="tipoUsuario" name="role">
								<option value="CURADOR">Curador</option>
								<option value="ADMIN">Administrador</option>
							</select>
						</div>
					</div>

					<div class="col">
						<div class="mt-4">
							<button class="btn btn-primary mb-3 ms-2" type="submit" id="montarApresentacao">Registrar
							</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
		crossorigin="anonymous"></script>

</body>

</html>