* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
	background-color: #DDDDDD;
}

.painel{
	margin: 30px;
	background-color: #ffffff;
	border-radius: 30px;
	padding-right: 50px; 
    padding-bottom: 50px; 
    padding-left: 50px;
	padding-top: 20px; 
}

.painelView{
	background-color: #ffffff;
	border-radius: 30px;
	padding: 50px;
	margin:2%;
}

.painelViewObraPublico {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}


.items-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}
.flex {
	margin-top: 10px;
    display: flex;
}
#imagem-capa{
    max-height: 300px; 
        height: 300px;
}

#imagem-capa-video{
    max-height: 300px; 
}

.btn-primary {
    background-color: #3D4964;
    border-color: #3D4964;
    color: white; 
}

.btn-primary:hover {
    background-color: #1E2434; 
    border-color: #1E2434; 
    color: white; 
}

.btn-warning{
    color: white; 
}

.btn-warning:hover{
    color: white;
}

.accordion{
	padding:20px;
}

#buttonMidia, #botaoVoltar, #botaoCrudObra{
	margin-right: 10px;
}

#btnToObras #btnToApresentacao{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}


#logoImagem{
	display:flex;
	flex-direction: row;
}

 #botaoVoltar{
	margin-top: 20px;
	margin-left: 10px;
}

#paginaErroFlex{
	margin:15px;
}

