<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
	<link rel="stylesheet" href="/css/style.css">
	<title>Editar Obra</title>

</head>

<body>

	<div class="painel">
		<h1 class="text-center my-3">Editar Obra: <span data-th-text="${peca.getTituloPeca()}"></span></h1>
		<div class="d-flex justify-content-center align-items-center h-100">
			<img th:src="${'data:image/*;base64,' + peca.getFichatecnica().getImagemCapa().getImagemBinaryStr()}"
				class="p-3 img-fluid" id="imagem-capa" alt="Imagem da Capa">
		</div>
		<form class="row g-3 needs-validation was-validated" th:action="@{/pecas/editarObra/{id}(id=${peca.getId()})}" method="post"
			enctype="multipart/form-data" id="formObra">
			<div class="col-md-6">

				<div class="mb-3">
					<label for="validationServerTitulo" class="form-label"><b>Título da Peça:</b> <abbr
							class="text-danger" title="Obrigatório">*</abbr></label>
					<input type="text" class="form-control" id="validationServerTitulo" name="tituloPeca"
						placeholder="Título da Peça"
						aria-describedby="inputGroupPrepend3 validationServerTituloFeedBack" required
						th:value="${peca.getTituloPeca()}">
					<div id="validationServerTituloFeedBack" class="invalid-feedback">
						Título da Peça Obrigatório.
					</div>
				</div>
			</div>

			<div class="col-md-6">

				<div class="mb-3">
					<label for="validationServerCodigoObra" class="form-label"><b>Código da Peça:</b><abbr
							class="text-danger" title="Obrigatório">*</abbr></label>
					<input type="text" class="form-control" id="validationServerCodigoObra" name="codigoPeca"
						placeholder="Código da Peça"
						aria-describedby="inputGroupPrepend3 validationServerCodigoObraFeedBack" required
						th:value="${peca.getFichatecnica().getCodigoPeca()}">
					<div id="validationServerCodigoObraFeedBack" class="invalid-feedback">
						Código da Peça Obrigatório.
					</div>
				</div>
			</div>


			<div class="col-md-6">
				<div class="mb-3">
					<label for="validationServerImagemObra" class="form-label"><b>Imagem da Capa:</b> <abbr
							class="text-danger" title="Obrigatório">*</abbr></label>
					<input type="file" id="validationServerImagemObra" class="form-control"
						data-browse="Escolha a imagem" aria-label="file example" name="imagemPecaFile" accept="image/*"
						th:value="${imageFile}">
				</div>
			</div>


			<div class="col-md-6">

				<div class="mb-3">
					<label for="validationServerDataAquisicao" class="form-label"><b>Data de Aquisição:</b><abbr
							class="text-danger" title="Obrigatório">*</abbr></label>
					<input type="date" class="form-control" id="validationServerDataAquisicao" name="dataAquisicao"
						placeholder="Data de Aquisição"
						aria-describedby="inputGroupPrepend3 validationServerDataAquisicaoFeedBack" required
						th:value="${peca.getFichatecnica().getDataAquisicao()}">
					<div id="validationServerDataAquisicaoFeedBack" class="invalid-feedback">
						Data de Aquisicao Obrigatório.
					</div>
				</div>
			</div>

			<div class="col-md-6">

				<div class="mb-3">
					<label for="validationServerFormaAss" class="form-label"><b>Forma Associativa:</b></label>
					<input type="text" class="form-control" id="validationServerFormaAss" name="formaAssociativa "
						placeholder="Forma Associativa" th:value="${peca.getFormaAssociativa()}"
						aria-describedby="inputGroupPrepend3 validationServerFormaAssFeedBack" required>
					<div id="validationServerFormaAssFeedBack" class="invalid-feedback">
						Forma Associativa da Peça Obrigatória.
					</div>
				</div>
			</div>

			<div class="col-md-6">

				<div class="mb-3">
					<label for="validationServerTipologia" class="form-label"><b>Tipologia:</b></label>
					<input type="text" class="form-control" id="validationServerTipologia" name="tipologia"
						placeholder="Tipologia" th:value="${peca.getTipologia()}"
						aria-describedby="inputGroupPrepend3 validationServerTipologiaFeedBack" required>
					<div id="validationServerTipologiaFeedBack" class="invalid-feedback">
						Tipologia da Peça Obrigatória.
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="mb-3">
					<label for="validationServerRelacaoCultural" class="form-label"><b>Relação Cultural:</b></label>
					<input type="text" class="form-control" id="validationServerRelacaoCultural" name="relacaoCultural"
						placeholder="Relação Cultural" th:value="${peca.getRelacaoCultural()}"
						aria-describedby="inputGroupPrepend3 validationServerRelacaoCulturalFeedBack" required>
					<div id="validationServerRelacaoCulturalFeedBack" class="invalid-feedback">
						Relação Cultural da Peça Obrigatória.
					</div>
				</div>
			</div>

			<div class="col-md-6">

				<div class="mb-3">
					<label for="validationServerClassificacao" class="form-label"><b>Classificação:</b></label>
					<input type="text" class="form-control" id="validationServerClassificacao" name="classificacao"
						placeholder="Classificação" th:value="${peca.getClassificacao()}"
						aria-describedby="inputGroupPrepend3 validationServerClassificacaoFeedBack" required>
					<div id="validationServerClassificacaoFeedBack" class="invalid-feedback">
						Classificação da Peça Obrigatória.
					</div>
				</div>
			</div>

			<div class="col-md-6">

				<div class="mb-3">
					<label for="validationServerTecnica" class="form-label"><b>Técnica:</b></label>
					<input type="text" class="form-control" id="validationServerTecnica" name="tecnica"
						placeholder="Técnica" th:value="${peca.getTecnica()}"
						aria-describedby="inputGroupPrepend3 validationServerTecnicaFeedBack" required>
					<div id="validationServerTecnicaFeedBack" class="invalid-feedback">
						Técnica da Peça Obrigatória.
					</div>
				</div>
			</div>

			<div class="col-md-6">

				<div class="mb-3">
					<label for="validationServerProduto" class="form-label"><b>Produto:</b></label>
					<input type="text" class="form-control" id="validationServerProduto" name="produto"
						placeholder="Produto" th:value="${peca.getProduto()}"
						aria-describedby="inputGroupPrepend3 validationServerProdutoFeedBack" required>
					<div id="validationServerProdutoFeedBack" class="invalid-feedback">
						Produto da Peça Obrigatório.
					</div>
				</div>
			</div>

			<div class="col-md-6">

				<div class="mb-3">
					<label for="validationServerDimensao" class="form-label"><b>Dimensão:</b></label>
					<input type="text" class="form-control" id="validationServerDimensao" name="dimensao"
						placeholder="Dimensão" th:value="${peca.getFichatecnica().getDimensao()}"
						aria-describedby="inputGroupPrepend3 validationServerDimensaoFeedBack" required>
					<div id="validationServerDimensaoFeedBack" class="invalid-feedback">
						Dimensão da Peça Obrigatória.
					</div>
				</div>
			</div>

			<div class="col-md-6">

				<div class="mb-3">
					<label for="validationServerPeso" class="form-label"><b>Peso:</b></label>
					<input type="text" class="form-control" id="validationServerPeso" name="peso" placeholder="Peso"
						th:value="${peca.getFichatecnica().getPeso()}"
						aria-describedby="inputGroupPrepend3 validationServerPesoFeedBack" required>
					<div id="validationServerPesoFeedBack" class="invalid-feedback">
						Peso da Peça Obrigatório.
					</div>
				</div>
			</div>


			<div class="col-md-6">

				<div class="mb-3">
					<label for="validationServerAssinada" class="form-label"><b>Assinada:</b></label>
					<select class="form-select" aria-label="Default select example" id="validationServerAssinada"
						name="assinada">
						<option value="true" th:selected="${peca.getFichatecnica().getAssinada() == true}">Sim</option>
						<option value="false" th:selected="${peca.getFichatecnica().getAssinada() == false}">Não
						</option>
					</select>
				</div>
			</div>
			<div class="col-md-6">

				<div class="mb-3">
					<label for="validationServerDatada" class="form-label"><b>Datada:</b></label>
					<select class="form-select" aria-label="Default select example" id="validationServerDatada"
						name="datada">
						<option value="true" th:selected="${peca.getFichatecnica().getDatada() == true}">Sim</option>
						<option value="false" th:selected="${peca.getFichatecnica().getDatada() == false}">Não</option>
					</select>
				</div>
			</div>
			<div class="col-md-6">
			</div>
			<div class="col d-flex justify-content-end">
				<a class="btn btn-danger mb-3 " th:href="@{'/pecas/'+${peca.getId()}}" role="button">Cancelar</a>
				<button class="btn btn-primary mb-3 ms-2" type="submit" id="salvarOBra">Associar Artista</button>
			</div>
		</form>

		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
			integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
			integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
			crossorigin="anonymous"></script>


		<script>
			document.addEventListener("DOMContentLoaded", function () {
				const imageInput = document.getElementById("validationServerImagemObra");
				const previewImage = document.getElementById("imagem-capa");
				const oldImageUrl = previewImage.src;

				imageInput.addEventListener("change", function () {
					const file = imageInput.files[0];

					if (file) {
						const reader = new FileReader();
						reader.onload = function (event) {
							previewImage.src = event.target.result;
							previewImage.style.display = "block";
						};
						reader.readAsDataURL(file);
					} else {
						previewImage.src = oldImageUrl;
						previewImage.style.display = "block";
					}
				});

				const uploadForm = document.getElementById("uploadForm");
				uploadForm.addEventListener("submit", function (event) {
					event.preventDefault();
				
				});
			});
		</script>

		<script>
			(() => {
				'use strict'

				const forms = document.querySelectorAll('.needs-validation')

				Array.from(forms).forEach(form => {
					form.addEventListener('submit', event => {
						if (!form.checkValidity()) {
							event.preventDefault()
							event.stopPropagation()
						}

						form.classList.add('was-validated')
					}, false)
				})
			})()
		</script>

</body>

</html>