<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
	<title>Listagem de Obras</title>

</head>

<body>

	<div class="painel">
		<h1 class="text-center my-3">Listagem de Obras</h1>

		<!-- Barra de Filtragem -->
		<div class="mb-4">
			<form th:action="@{/pecas/filtrar}" method="get">
				<div class="d-flex flex-wrap justify-content-center align-items-center">
					<div class="p-1">
						<h5>Pesquisar por:</h5>
					</div>
					<div class="p-2 col-md-4">
						<select class="form-select" id="filtro" name="filtro">
							<option value="tituloPeca">Titulo da Peça</option>
							<option value="artesao">Nome do Artesão</option>
							<option value="formaAssociativa">FormaAssociativa</option>
							<option value="tipologia">Tipologia</option>
							<option value="relacaoCultural">RelacaoCultural</option>
							<option value="tecnica">Tecnica</option>
							<option value="classificacao">Classificacao</option>
							<option value="produto">Produto</option>
							<option value="codigoPeca">Codigo da Peça</option>
							<option value="dataAquisicao">Data de Aquisição</option>
							<option value="assinada">Assinada</option>
							<option value="datada">Datada</option>
						</select>
					</div>
					<div class="p-2 col-md-4">
						<input type="text" class="form-control" name="pesquisa" id="pesquisa"
							placeholder="Digite para pesquisar">
					</div>
					<div class="p-1">
						<button type="submit" class="btn btn-primary" id="btnBuscar">Buscar</button>
					</div>
					<div class="p-1">
						<button class="btn btn-warning">Adicionar Obra</button>
					</div>

				</div>
			</form>

		</div>

		<!-- Listagem de Obras -->
		<div class="row row-cols-1 row-cols-md-4 g-4">
			<div class="col" data-th-each="peca : ${pecas}">
				<div class="card h-100 rounded-5 border border-1 border-dark ">
					<img src="/images/obra2.png" class="p-3 card-img-top rounded-top-5" alt="...">
					<div class="card-body">
						<h4 class="card-title text-center mb-4" data-th-text="${peca.getTituloPeca()}"></h4>
						<p class="card-text"><b>Nome do Artesão:</b> <span
								data-th-text="${peca.getArtesao().getNome()}"></span></p>
						<p class="card-text"><b>Forma Associativa:</b> <span
								data-th-text="${peca.getFormaAssociativa()}"></span></p>
						<p class="card-text"><b>Tipologia:</b> <span data-th-text="${peca.getTipologia()}"></span></p>
						<p class="card-text"><b>Relação Cultural:</b> <span
								data-th-text="${peca.getRelacaoCultural()}"></span></p>
						<p class="card-text"><b>Técnica:</b> <span data-th-text="${peca.getTecnica()}"></span></p>
						<p class="card-text"><b>Classificação:</b> <span
								data-th-text="${peca.getClassificacao()}"></span></p>
						<p class="card-text"><b>Produto:</b> <span data-th-text="${peca.getProduto()}"></span></p>
						<p class="card-text"><b>Código da Peça:</b> <span
								data-th-text="${peca.getFichatecnica().getCodigoPeca()}"></span></p>
						<p class="card-text"><b>Data de Aquisição:</b> <span
								data-th-text="${peca.getFichatecnica().getDataAquisicao()}"></span></p>
						<p class="card-text"><b>Assinada:</b> <span
								data-th-text="${peca.getFichatecnica().getAssinada()}"></span></p>
						<p class="card-text"><b>Datada:</b> <span
								data-th-text="${peca.getFichatecnica().getDatada()}"></span></p>
						<p class="card-text"><b>Dimensão:</b> <span
								data-th-text="${peca.getFichatecnica().getDimensao()}"></span></p>
						<p class="card-text"><b>Peso:</b> <span
								data-th-text="${peca.getFichatecnica().getPeso()}"></span></p>

					</div>
					<div class="card-body d-flex justify-content-around align-items-center">
						<a href="#" class="btn btn-primary">Editar</a>
						<a href="#" class="btn btn-danger">Deletar</a>
					</div>
				</div>


			</div>
		</div>
	</div>
</body>

</html>